.about{
    height:100vh;
    width:100vw;
    background-image: url('../media/Images/aboutbg.svg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    /* overflow-y: visible; */
    /* background-color: burlywood; */
}
.abtcard{
  background-color: rgba(131, 58, 127, 0.541);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  height:60vh;
  width:35vw;
  border-radius: 5px 100px 5px;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
  border: 1px solid transparentize(rgb(133, 42, 128), 0.5);
  background: transparentize(rgb(133, 42, 128), 0.8);
  /* backdrop-filter: blur(20px); */
  
}
.abtcard:hover{
  
  background-color: rgba(133, 42, 129, 0.44);
  backdrop-filter: blur(10px);
  /* background: (rgb(133, 42, 128), 0.8); */
}