.sponsors{
    text-align: center;
    color: rgb(133, 42, 128);
    /* background-color: aquamarine; */
  }
.diamond-card{
  max-width: 500px;
  padding-top: 50px;
  max-height: 300px;
}
.diamond-card-view{
  box-shadow: 0 4px 5px 3px rgb(216, 127, 211) !important;
  color: rgb(10, 10, 10) !important;
  background-color: rgba(255, 255, 255, 0.692);
  background: transparentize(#fff);
  backdrop-filter: blur(80px);
  /* background-color: transparent !important; */
  /* opacity: 0.9 !important; */
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
}
.diamond-card-view:hover{
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: 0 4px 4px 5px rgb(216, 127, 211) !important;
}
  .sponsor-card{
    max-width: 300px;
    padding-top: 70px;
  }
  .sponsors-title{
    color: var(--txt-color);
  }
  .sponsor-card-view{
    box-shadow: 0 4px 5px 3px rgb(216, 127, 211) !important;
    color: rgb(10, 10, 10) !important;
    background-color: rgba(255, 255, 255, 0.692);
  background: transparentize(#fff);
  backdrop-filter: blur(80px);
    /* background-color: transparent !important;
    opacity: 0.9 !important; */
    transition: all 0.5s ease 0s !important;
    height: 100% !important;
  }
  .sponsor-card-view:hover{
    transform: scale(1.02) !important;
    overflow: hidden !important;
    box-shadow: 0 4px 4px 5px rgb(216, 127, 211) !important;
  }
  .bgmen2{
    /* top:500vh; */
    position: absolute;
    transform: rotate3d(85deg);
    right:0;
    z-index: -2000;
  }